<%- include('./components/header')  %> 
<%- include('./components/nav')  %> 

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">

      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>
      <%- include('components/messages') %>

      <div class="responsible-table">
        <table class="table my-3">
          <% lista.forEach(element => { %>
            <tr>
              <td><%= element.nome %> </td>
              <td><%= element.sobrenome %> </td>
              <td><%= element.telefone %> </td>
              <td><%= element.email %> </td>
              <td><a href="/contato/registro/<%= element.id %>">Editar</a></td>
              <td><a class="text-danger" href="/contato/delete/<%= element.id %>">Excluir</a></td>
            </tr>
         <%}); %> 
        </table>
      </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('./components/footer')  %> 
<script src="./assets/js/bundle.js"></script>